<% content_for :stylesheet, (stylesheet_link_tag "users") %>


<% if session[:user_id] == nil %>
  <% content_for :title, "Register" %>

  <%= form_for(@user, method: :post,
  url: {action: :create, id: params[:id]}) do |form| %>
    <div class="form">
      <br />
      <%= label_tag(nil, "Login Name:") %> <br />
      <%= form.text_field(:login)  %>
    </div>
    <div class="form">
      <%= label_tag(nil, "Username (This is the name that other player will see):") %> <br />
      <%= form.text_field(:username)  %>
    </div>
    <div class="form">
      <%= label_tag(nil, "Password:") %> <br />
      <%= form.password_field(:password) %>
    </div>
    <div class="form">
      <%= label_tag(nil, "Enter Password Again:") %> <br />
      <%= form.password_field(:password_confirmation) %>
    </div>

    <div class="form">
      <%= label_tag(nil, "Enter Invitation Code:") %> <br />
      <%= form.password_field(:invitation) %>
    </div>

    <% @user.errors.full_messages.each do |msg| %>
      <p class="error"><%= msg %></p>
    <% end %>
    <% if flash[:notice] %>
      <p class = "error"><%= flash[:notice] %></p>
    <% end %>
    <div class="form">
      <%= form.submit "Register" %>
    </div>
  <% end %>


<% else %>
  <% content_for :title, "Already Logged In" %>
  <p> Yoooo! You have already logged in. Why do you want to register a new
      account again? Please log out first. </p>
  <div id="doge"> <%= image_tag("doge.png", :alt => "doge",
    :class => "doge") %> </div>
<% end %>

