<% content_for :stylesheet, (stylesheet_link_tag "users") %>


<% if session[:user_id] == nil %>
  <% content_for :title, "Signup" %>
  <div class="banner">
    <a href="login" class="button">Log In</a>
    <a href="signup" class="button">Sign Up</a>
  </div>
  <h3> Signup </h3>
  <% @user.errors.full_messages.each do |msg| %>
      <p class="error"><%= msg %></p>
    <% end %>
    <% if flash[:notice] %>
      <p class = "error"><%= flash[:notice] %></p>
    <% end %>
  <%= form_for(@user, method: :post,
  url: {action: :create, id: params[:id]}) do |form| %>
      <%= label_tag(nil, "Username") %>
      <%= form.text_field(:username)  %>
      <%= label_tag(nil, "Nickname (This is the name that other players will see)") %>
      <%= form.text_field(:nickname)  %>
      <%= label_tag(nil, "Password") %>
      <%= form.password_field(:password) %>
      <%= label_tag(nil, "Enter Password Again") %>
      <%= form.password_field(:password_confirmation) %>
      <%= label_tag(nil, "Invitation Code") %>
      <%= form.password_field(:invitation) %>

      <%= form.submit("Sign Up", :class => "button")%>
  <% end %>


<% else %>
  <% content_for :title, "Already Logged In" %>
  <p> Yoooo! You have already logged in. Why do you want to register a new
      account again? Please log out first. </p>
  <div id="doge"> <%= image_tag("doge.png", :alt => "doge",
    :class => "doge") %> </div>
<% end %>

