<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= yield :title %></title>
  <%= favicon_link_tag 'icon.png' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= yield :stylesheet %>
  <%= javascript_include_tag 'application', type: "text/javascript" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header_bg">
    <%= image_tag("header.png", :alt => "header") %>
  </div>

  <div id="header_txt" class = "header">
    <%= yield :title %>
  </div>

  <div id="author_txt" class = "header">
    By Jiaxin Guan
  </div>

  <div id="walker" >
    <%= image_tag("walker.gif", :alt => "walker", :width => 100, :height => 123) %>
  </div>

  <div id="section">


    <div id="cat" >
      <%= image_tag("giphy.gif", :alt => "cat", :width => 140, :height => 100) %>
    </div>

    <%= yield %>
  </div>
</body>
</html>

