<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= yield :title %></title>
  <%= favicon_link_tag 'icon.png' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= yield :stylesheet %>
  <%= javascript_include_tag 'application', type: "text/javascript" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js", type: "text/javascript" %>
  <%= javascript_include_tag 'gooeymenu', type: "text/javascript" %>
  <!-- Gooey Menu Script (c) Dynamic Drive (www.dynamicdrive.com)
       This notice MUST stay intact for legal use
       Visit http://www.dynamicdrive.com/ for this script and 100s more. -->
  <%= stylesheet_link_tag 'gooeymenu', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="header_img" class = "header">
    <%= image_tag("logo.png", :alt => "logo", :width => 700) %>
  </div>

  <% if ((defined?(@no_navigation_bar)) == nil) %>
    <div id="menuholder">
      <ul id="gooeymenu" class="solidblockmenu">
      <li><%= link_to("Home", controller: "main", action: "index") %></li>
      <li><a href="http://www.dynamicdrive.com/style/">Pokédex</a></li>
      <li><a href="http://tools.dynamicdrive.com">My Teams</a></li>
      <li><a href="http://www.javascriptkit.com/">Battle</a></li>
      <li><%= link_to("Log Out", controller: "users", action: "logout") %></li>
      </ul>
    </div>
  <% end %>

  <div id="walker" >
    <%= image_tag("runner.gif", :alt => "walker", :width => 150, :height => 150) %>
  </div>

  <div id="bg_pokemon_holder">
    <img id="bg_pokemon"> </img>
  </div>

  <div id="section">

    <div id="cat" >
      <%= image_tag("giphy.gif", :alt => "cat", :width => 140, :height => 100) %>
    </div>

    <%= yield %>
  </div>

  <footer class="site-footer" ><div class="wrap"><p>Copyright &#x000A9;&nbsp;2015 <a href="http://www.stanford.edu/~jxguan/">Jiaxin Guan</a></p></div></footer>

  <%= javascript_tag do %>
    window.onload = function() {
      init();
      <% if ((defined?(@no_navigation_bar)) == nil) %>
        gooeymenu.setup({id:'gooeymenu', selectitem:<%= yield :menu_index %>, fxtime:400});
      <% end %>
    }
  <% end %>
</body>
</html>

